@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400&display=swap');

$tamnoPlava: #1d527c;  /* rgb(29, 82, 124) */
$svetloPlava: #459ad3; /* rgb(69, 154, 211) */
$orange: #fd7f45;      /* rgb(253, 127, 69) */
$tamnoSiva: #3c3b3c;
$svetloSiva: lightgray;
$white: #fff;
$black: #000;
$transition: .3s ease;
$padding: 100px 0;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: $tamnoSiva;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    transition: $transition;
}

img {
    display: block;
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
    @media (max-width: 767px) {
        width: 90%;
    }
}


